<h1>Listing projects</h1>
<div class="ui five item menu" id="filters">
  <a href="javascript:void(0);" class="active item item-all" data-status="">All</a>
  <a href="javascript:void(0);" class="item item-pending" data-status="1">Pending</a>
  <a href="javascript:void(0);" class="item item-inprogress" data-status="2">In Progress</a>
  <a href="javascript:void(0);" class="item item-finished" data-status="4">Finished</a>
  
  <a href="javascript:void(0);" class="item search-projects"><i class="icon search"></i> Search</a>

 
</div>
<div class="ui  search-box">
  <div class="ui category search">
    <div class="ui icon input">
      <input class="prompt search-input" type="text" placeholder="Search projects...">
      <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>
</div>
<div class="ui three stackable cards app-projects">
  
  
  
</div>

