/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";
body {
    background-color: #FFFFFF;
  }
  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }
  .main.container {
    margin-top: 3em;
  }
  .wireframe {
    margin-top: 2em;
  }
  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }



.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.card{
	.header{
		padding-bottom:10px;
	}
	.description{
		padding-top:10px;
	}
}
.app-projects{
	margin-top:30px!important;
}

.status-1{
	background-color: #db2828!important;
  border-color: #db2828!important;
  color:#fff!important;
}
.status-2{
	background-color: #f2711c!important;
  border-color: #f2711c!important;
  color:#fff!important;
}
.status-3{
	background-color: #1678c2!important;
  border-color: #1678c2!important;
  color:#fff!important;
}
.status-4{
	background-color: #21ba45!important;
  border-color: #21ba45!important;
  color:#fff!important;
}

.search-projects, .item-all{
  border-bottom: 2px solid #333;
}

.item-pending{
 border-bottom: 2px solid #db2828;
}
.item-inprogress{
 border-bottom: 2px solid #f2711c;
}
.item-finished{
 border-bottom: 2px solid #21ba45;
}

.search-box{
  width: 100%;
  display:none;

  .input{
    width: 100%;
  }
}

.final-comment{
  text-align:center;
  background-color:#ddd!important;
  color:#555;
  padding:8px 0!important;
}

.ui.comments{
  max-width:100%!important;
}

.breadcrumb{
  border-bottom: 2px solid #f2711c
}
.progress-2{
  background-color: #f2711c!important;
  min-width: 50%!important;
}

.progress-1{
  background-color: #db2828!important;
  min-width: 1%!important;
}